<!DOCTYPE html>
<html>
{{> html-head }}

<body>
    {{> header }}

    {{> header-img }}


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

               {{#each collections.blog}}
                    <div class="post-preview">
                        <a href="/{{path}}">
                            <h2 class="post-title">
                                {{title}}
                            </h2>
                            <h3 class="post-subtitle">
                                {{excerpt contents 26}}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">{{author}}</a> on {{moment date "MMM Do YYYY"}}</p>
                    </div>

               {{/each}}
           </div>
        </div>
    </div>
    {{> footer }}
</body>
</html>